 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>TENTANG</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Saya adalah satu dari tidak banyak nya manusia yang suka keramaian atau bisa di sebut dengan introvert</p>
                </div>
                <div class="col-lg-4">
                    <p>Suka kucing , suka cofee dan suka game juga program ataupun jaringan ya sebut saja hobi dengan IT</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.youtube.com/channel/UCuCD7X32IiOGuTWs2iF1gZg?sub_confirmation=1" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> SUBSCRIBE
                    </a>
                </div>
            </div>
        </div>
    </section>
