 &lt;!-- About Section --&gt;
    &lt;section class=&quot;success&quot; id=&quot;about&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-lg-12 text-center&quot;&gt;
                    &lt;h2&gt;TENTANG&lt;/h2&gt;
                    &lt;hr class=&quot;star-light&quot;&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-lg-4 col-lg-offset-2&quot;&gt;
                    &lt;p&gt;Saya adalah satu dari tidak banyak nya manusia yang suka keramaian atau bisa di sebut dengan introvert&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-lg-4&quot;&gt;
                    &lt;p&gt;Suka kucing , suka cofee dan suka game juga program ataupun jaringan ya sebut saja hobi dengan IT&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-lg-8 col-lg-offset-2 text-center&quot;&gt;
                    &lt;a href=&quot;https://www.youtube.com/channel/UCuCD7X32IiOGuTWs2iF1gZg?sub_confirmation=1&quot; class=&quot;btn btn-lg btn-outline&quot;&gt;
                        &lt;i class=&quot;fa fa-download&quot;&gt;&lt;/i&gt; SUBSCRIBE
                    &lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/section&gt;
